# Ambiente virtuale Python
venv/
.env/
__pycache__/
*.pyc

# File credenziali GCP
*.json

# Dati locali
*.csv
*.txt

# Log
*.log

# Config personali
.DS_Store
.idea/
.vscode/

logs/*
!logs/.gitkeep
data/*
